@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center">
    <h1 class="display-3 mt-5">Ammunition and Inventory Manager</h1>
</div>

<div class="row justify-content-center">
    <div class="col-sm-3 mt-5 goto-box">
        <h1 class="mt-2 fon">Options</h1>
        <hr />
        <button type="button" class="btn btn-secondary font-resize">New 5515</button>
        <hr />
        <button type="button" class="btn btn-secondary font-resize">Update 5515</button>
        <hr />
        <button type="button" class="btn btn-secondary font-resize">New 3020</button>
        <hr />
        <button type="button" class="btn btn-secondary font-resize">Update 3020</button>
        <hr />
        <button type="button" class="btn btn-secondary font-resize">Inventory Overview</button>
    </div>

    <div class="mt-5 jumbotron">
        <h1 class="display-4">Upcoming Events:</h1>
    </div>
</div>